<div class="row">
	<div class="col-sm-4">
		<div class="col-md-8"
<p>
	<div class="well">
  <%= @pin.description %>
</p>
<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
</div>
</div>
</div>
</div>
