 <% if user_signed_in? %>
 <div class="jumbotron" style="text-align:center">
<h1 class="jumbo">You are logged in.<h1>
	<p>Well hello there you sexy beast!</p>
</div>
<% else %>
<div class="jumbotron" style="text-align:center">
		<h1>Welcome to the coolest place on EARTH!</h1>
		<p>
	You are sooo lucky to be here right now.

		</p>
		<p>
			<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
</div>
<% end %>