<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
<div class="container">
	<small>
	<%= link_to "Coolest Place Ever", "#" %> by <%= link_to "Jonathan Zarra", "http://youtube.com/youcancallmeashtray" %>
	</small>
	</div>
</nav>